@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.flex-centering, .products_shop-wrapper, .products-first-look-wrapper, .mini-tweak-head-wrapeer, .abmiddle-wrapper_2, .abmiddle-wrapper_1, .location-wrapper .location-insdide-wrapper, .location-wrapper, .products_pickups-wrapper, .middle-wrapper, .first-look-bg .subtitle-wrapper, .first-look-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row, .products_shop-wrapper .prb-item-wrapper, .location-wrapper .location-insdide-wrapper, .products_pickups-wrapper .prb-item-wrapper, .first-look-bg .subtitle-wrapper {
  display: flex;
  flex-direction: row;
}

.column, .products_shop-wrapper .shop-introduction-wrapper, .products_shop-wrapper, .products-first-look-wrapper, .mini-tweak-head-wrapeer, .abmiddle-wrapper_2, .abmiddle-wrapper_1, .about-second-wrapper .about-right-wrapper, .location-wrapper .location-insdide-wrapper .cafedescription-wrapper, .location-wrapper, .products_pickups-wrapper .pickups-introduction-wrapper, .products_pickups-wrapper, .middle-wrapper, .first-look-bg {
  display: flex;
  flex-direction: column;
}

.opacity {
  opacity: 0.95;
}

html {
  margin: 0 auto;
  position: relative; /* Fix for absolute positioning */
}

body {
  color: rgb(51, 51, 51);
  margin: 0 auto;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
}
::-moz-selection {
  color: white;
  background-color: rgb(50, 149, 229);
}
::selection {
  color: white;
  background-color: rgb(50, 149, 229);
}

@media (max-width: 600px) {
  .nav-center-logo img {
    width: 120px;
    height: 36px;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  color: white;
  font-size: 1em;
  font-weight: bold;
  background-color: #0070f3;
  padding: 0.4em 0.6em;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.first-look-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: rgb(244, 244, 244);
  /** SLIDESHOW **/
}
.first-look-bg div:first-child {
  z-index: 3;
}
.first-look-bg .shade-wrapper {
  width: 100%;
  height: 90vh;
  position: absolute;
  background-color: rgb(0, 0, 0);
}
.first-look-bg h1 {
  font-size: 3.7rem;
  margin: 1rem 0 0 0;
}
@media (max-width: 1366px) {
  .first-look-bg h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .first-look-bg h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  .first-look-bg h1 {
    font-size: 1.4rem;
  }
}
.first-look-bg .subtitle-wrapper img {
  margin: 0 0.7rem;
}
@media (max-width: 1366px) {
  .first-look-bg .subtitle-wrapper img {
    width: 47px;
    height: 47px;
    margin: 0 0.5rem;
  }
}
@media (max-width: 800px) {
  .first-look-bg .subtitle-wrapper img {
    width: 42px;
    height: 42px;
    margin: 0 0.3rem;
  }
}
@media (max-width: 600px) {
  .first-look-bg .subtitle-wrapper img p {
    width: 33px;
    height: 33px;
    margin: 0 0.2rem;
  }
}
@media (max-width: 1366px) {
  .first-look-bg h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .first-look-bg h2 {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .first-look-bg h2 {
    font-size: 0.8rem;
  }
}
.first-look-bg h2 span {
  font-family: "Corinthia", sans-serif;
  font-size: 2.5rem;
}
@media (max-width: 1366px) {
  .first-look-bg h2 span {
    font-size: 2.2rem;
  }
}
@media (max-width: 800px) {
  .first-look-bg h2 span {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .first-look-bg h2 span {
    font-size: 1.7rem;
  }
}
@media (max-width: 1366px) {
  .first-look-bg img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 800px) {
  .first-look-bg img {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 600px) {
  .first-look-bg img {
    width: 90px;
    height: 90px;
  }
}
.first-look-bg .slideshow {
  list-style-type: none;
}
.first-look-bg .slideshow, .first-look-bg .slideshow:after {
  position: fixed;
  width: 100%;
  height: 90vh;
  left: 0px;
}
.first-look-bg li span {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: imageAnimation 30s linear infinite 0s;
          animation: imageAnimation 30s linear infinite 0s;
}
.first-look-bg li:first-child span {
  background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}
.first-look-bg li:nth-child(2) span {
  background-image: url("https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29mZmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.first-look-bg li:nth-child(3) span {
  background-image: url("https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80");
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}
.first-look-bg li:nth-child(4) span {
  background-image: url("https://images.unsplash.com/photo-1457414254764-c87b209f5249?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80");
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.first-look-bg li:nth-child(5) span {
  background-image: url("https://images.unsplash.com/photo-1565273975221-fe8dc98dba50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  -webkit-animation-delay: 26s;
          animation-delay: 26s;
}
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    opacity: 0.5;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  17% {
    opacity: 0.5;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    opacity: 0.5;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  17% {
    opacity: 0.5;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.first-look-bg .no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

.r-b-l-nav-wrapper {
  width: 100%;
  height: 90vh;
  position: relative;
}

.side-navs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  top: 0;
  pointer-events: none;
}
.side-navs-wrapper .left-wrapper {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  transform: rotate(180deg);
  background-color: white;
  border: 1px solid white;
  transition: color 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.side-navs-wrapper .left-wrapper:hover {
  width: 80px;
  color: rgb(50, 149, 229);
  background-color: rgbc(255, 255, 255, 0.9);
  border: 1px solid rgb(216, 216, 216);
}
@media (max-width: 600px) {
  .side-navs-wrapper .left-wrapper:hover {
    width: 40px;
  }
}
.side-navs-wrapper .left-wrapper a {
  width: 100%;
  height: 100%;
  padding: 0;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
@media (max-width: 600px) {
  .side-navs-wrapper .left-wrapper a {
    font-size: 0.9rem;
  }
}
.side-navs-wrapper .right-wrapper {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid white;
  transition: color 0.5s ease-out;
  transition: width 0.5s ease-out;
}
@media (max-width: 600px) {
  .side-navs-wrapper .right-wrapper {
    font-size: 0.9rem;
  }
}
.side-navs-wrapper .right-wrapper:hover {
  width: 80px;
  color: rgb(50, 149, 229);
  background-color: rgbc(255, 255, 255, 0.9);
  border: 1px solid rgb(216, 216, 216);
}
@media (max-width: 600px) {
  .side-navs-wrapper .right-wrapper:hover {
    width: 40px;
  }
}
.side-navs-wrapper .right-wrapper a {
  width: 100%;
  height: 100%;
  padding: 0;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
@media (max-width: 600px) {
  .side-navs-wrapper .right-wrapper a {
    font-size: 0.9rem;
  }
}

.viewpoint-wrapper {
  height: 40px;
  width: 100%;
  background: white;
  z-index: 1;
}

.down-indi-miniwrap {
  display: block;
  color: white;
  height: 40px;
  width: calc(100% - 80px);
  background-color: rgb(50, 149, 229);
  font-size: 1.2rem;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.down-indi-miniwrap h5 {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: animate-banner 20s linear infinite;
          animation: animate-banner 20s linear infinite;
  margin: 0;
  line-height: 40px;
}
.down-indi-miniwrap h5::-moz-selection {
  color: rgb(50, 149, 229);
  background-color: white;
}
.down-indi-miniwrap h5::selection {
  color: rgb(50, 149, 229);
  background-color: white;
}

@-webkit-keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.middle-wrapper {
  width: calc(100% - 80px);
  height: 370px;
  background-color: white;
  text-align: left;
  z-index: 2;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  flex-direction: row;
  transition: all 5s ease-out;
}
.middle-wrapper div:first-child {
  width: 33.3333333333%;
  height: 100%;
  border-right: 1px solid rgb(216, 216, 216);
}
@media (max-width: 800px) {
  .middle-wrapper div:first-child {
    display: none;
  }
}
.middle-wrapper div:nth-child(2) {
  width: 66.6666666667%;
  padding: 3rem;
}
@media (max-width: 800px) {
  .middle-wrapper div:nth-child(2) {
    width: 100%;
    padding: 2rem;
  }
}
@media (max-width: 800px) {
  .middle-wrapper p {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  .middle-wrapper a {
    font-size: 0.9rem;
  }
}
.middle-wrapper a:hover {
  color: rgb(50, 149, 229);
  border-bottom: 1px solid rgb(50, 149, 229);
}

.products_pickups-wrapper {
  width: calc(100% - 80px);
  height: 420px;
  background-color: white;
  text-align: left;
  z-index: 2;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  flex-direction: row;
  transition: all 2s ease-out;
}
.products_pickups-wrapper .pickups-introduction-wrapper {
  width: 33.3333333333%;
  height: 100%;
  border-right: 1px solid rgb(216, 216, 216);
  padding: 3rem;
  justify-content: center;
}
.products_pickups-wrapper .pickups-introduction-wrapper h4, .products_pickups-wrapper .pickups-introduction-wrapper p {
  color: rgb(51, 51, 51);
}
@media (max-width: 1366px) {
  .products_pickups-wrapper .pickups-introduction-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 800px) {
  .products_pickups-wrapper .pickups-introduction-wrapper {
    display: none;
  }
}
.products_pickups-wrapper .prb-item-wrapper {
  width: 66.6666666667%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper {
    width: 100%;
  }
}
.products_pickups-wrapper .prb-item-wrapper .resp_items_title {
  display: none;
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .resp_items_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1rem;
  }
  .products_pickups-wrapper .prb-item-wrapper .resp_items_title h4 {
    color: rgb(50, 149, 229);
  }
}
@media (max-width: 800px) and (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .resp_items_title p {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .resp_items_title a {
    border-bottom: 1px solid white;
  }
}
@media (max-width: 800px) and (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .resp_items_title a {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .resp_items_title a:hover {
    color: rgb(50, 149, 229);
    border-bottom: 1px solid rgb(50, 149, 229);
  }
}
.products_pickups-wrapper .prb-item-wrapper .card:nth-child(n+4) {
  display: none;
}
@media (max-width: 1366px) {
  .products_pickups-wrapper .prb-item-wrapper .card:nth-child(n+3) {
    display: none;
  }
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .card:nth-child(n+2) {
    display: none;
  }
}
.products_pickups-wrapper .prb-item-wrapper .card {
  height: 100%;
  width: 100%;
  margin: 0;
  flex-basis: unset;
  padding: 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: none;
  border-radius: unset;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .card {
    width: 50%;
  }
}
.products_pickups-wrapper .prb-item-wrapper .card a {
  width: 200px;
  height: 250px;
}
@media (max-width: 1366px) {
  .products_pickups-wrapper .prb-item-wrapper .card a {
    width: 160px;
    height: 200px;
  }
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .card a {
    width: 200px;
    height: 250px;
  }
}
.products_pickups-wrapper .prb-item-wrapper .card h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.1rem;
}
@media (max-width: 1366px) {
  .products_pickups-wrapper .prb-item-wrapper .card h3 {
    font-size: 1rem;
  }
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .card h3 {
    font-size: 1.1rem;
  }
}
.products_pickups-wrapper .prb-item-wrapper .card p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 1366px) {
  .products_pickups-wrapper .prb-item-wrapper .card p {
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper .card p {
    font-size: 0.9rem;
  }
}
.products_pickups-wrapper .prb-item-wrapper a {
  height: 100%;
  font-size: 1.2rem;
}
.products_pickups-wrapper .prb-item-wrapper button {
  height: 100%;
  width: 80px;
  color: rgb(51, 51, 51);
  /* font-size: 2.2rem; */
  font-weight: bold;
  background-color: unset;
  /* padding: 0.4em 0.6em; */
  border: none;
  border-radius: unset;
  cursor: pointer;
  border-left: 1px solid white;
  transition: border-left 0.5s ease-out;
}
@media (max-width: 800px) {
  .products_pickups-wrapper .prb-item-wrapper button {
    display: none;
  }
}
.products_pickups-wrapper .prb-item-wrapper button:hover {
  color: rgb(50, 149, 229);
  border-left: 1px solid rgb(216, 216, 216);
}
.products_pickups-wrapper .prb-item-wrapper button i {
  transition: all 0.3s ease-out;
  transform: rotate(0);
}
.products_pickups-wrapper .prb-item-wrapper button:hover i {
  transform: rotate(90deg);
}
.merch-bottom-border {
  border-bottom: 1px solid rgb(216, 216, 216);
}

.location-head {
  background-color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.location-wrapper {
  width: calc(100% - 80px);
  height: unset;
  background-color: white;
  text-align: left;
  z-index: 2;
  border: 1px solid rgb(216, 216, 216);
  flex-direction: row;
  display: flex;
  justify-content: center;
  transition: all 2s ease-out;
}
@media (max-width: 800px) {
  .location-wrapper li {
    font-size: 0.9rem;
  }
}
.location-wrapper .react-tabs {
  width: 100%;
  height: 100%;
}
.location-wrapper .react-tabs__tab-list {
  border-bottom: 1px solid rgb(216, 216, 216);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: unset;
}
.location-wrapper .react-tabs__tab-list .react-tabs__tab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid rgb(216, 216, 216);
  bottom: unset;
  position: relative;
  list-style: none;
  margin: auto;
  height: 40px;
  cursor: pointer;
  width: 100%;
}
.location-wrapper .react-tabs__tab-list .react-tabs__tab:last-child {
  border-right: none;
}
@media (max-width: 800px) {
  .location-wrapper .react-tabs__tab-list .react-tabs__tab {
    height: 80px;
  }
}
.location-wrapper .react-tabs__tab-list .react-tabs__tab--selected {
  background: rgb(50, 149, 229);
  border-color: unset;
  color: white;
  border-radius: unset;
  border: none;
  z-index: -1;
}
.location-wrapper .react-tabs__tab-list__tab {
  border: 1px solid transparent;
  border-bottom: none;
  bottom: unset;
  position: relative;
  list-style: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.location-wrapper .location-insdide-wrapper {
  width: 100%;
  height: unset;
}
@media (max-width: 800px) {
  .location-wrapper .location-insdide-wrapper {
    flex-direction: column;
  }
}
.location-wrapper .location-insdide-wrapper .cafephoto-wrapper-a {
  width: 33.3333333333%;
  height: 520px;
  border-right: 1px solid rgb(216, 216, 216);
  background: url(https://images.unsplash.com/photo-1508424757105-b6d5ad9329d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .location-wrapper .location-insdide-wrapper .cafephoto-wrapper-a {
    width: 100%;
  }
}
.location-wrapper .location-insdide-wrapper .cafephoto-wrapper-b {
  width: 33.3333333333%;
  height: 520px;
  border-right: 1px solid rgb(216, 216, 216);
  background: url(https://images.unsplash.com/photo-1562815240-be666d2600ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2134&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .location-wrapper .location-insdide-wrapper .cafephoto-wrapper-b {
    width: 100%;
  }
}
.location-wrapper .location-insdide-wrapper .cafephoto-wrapper-c {
  width: 33.3333333333%;
  height: 520px;
  border-right: 1px solid rgb(216, 216, 216);
  background: url(https://images.unsplash.com/photo-1505275350441-83dcda8eeef5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEyfHxjYWZlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .location-wrapper .location-insdide-wrapper .cafephoto-wrapper-c {
    width: 100%;
  }
}
.location-wrapper .location-insdide-wrapper .cafedescription-wrapper {
  width: 66.6666666667%;
  padding: 3rem;
}
@media (max-width: 800px) {
  .location-wrapper .location-insdide-wrapper .cafedescription-wrapper {
    width: 100%;
  }
}
.location-wrapper .location-insdide-wrapper .cafedescription-wrapper .working-hours-wrapper {
  list-style: none;
  padding: 0;
}
.location-wrapper .location-insdide-wrapper .cafedescription-wrapper .working-hours-wrapper li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  .location-wrapper .location-insdide-wrapper .cafedescription-wrapper p {
    font-size: 0.9rem;
  }
}

.about-first-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 80px 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 600px) {
  .about-first-wrapper {
    flex-direction: column;
    padding: 80px 40px 0 40px;
  }
}
.about-first-wrapper .about-left-wrapper {
  width: 50%;
  height: calc(100vh - 80px);
  background-image: url(https://images.unsplash.com/photo-1507914372368-b2b085b925a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  .about-first-wrapper .about-left-wrapper {
    width: 100%;
  }
}
.about-first-wrapper .about-right-wrapper {
  width: 50%;
  height: 100%;
  padding: 3rem;
}
@media (max-width: 1366px) {
  .about-first-wrapper .about-right-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 600px) {
  .about-first-wrapper .about-right-wrapper {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .about-first-wrapper .about-right-wrapper h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 800px) {
  .about-first-wrapper .about-right-wrapper h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1366px) {
  .about-first-wrapper .about-right-wrapper p {
    font-size: 0.9rem;
  }
}
.about-first-wrapper .about-right-wrapper h1 span {
  color: rgb(50, 149, 229);
  font-weight: 400;
}
.about-first-wrapper .about-right-wrapper img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  z-index: 2;
}
@media (max-width: 1366px) {
  .about-first-wrapper .about-right-wrapper img {
    width: 135px;
    height: 135px;
  }
}
@media (max-width: 800px) {
  .about-first-wrapper .about-right-wrapper img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 600px) {
  .about-first-wrapper .about-right-wrapper img {
    display: none;
  }
}
.about-first-wrapper a:hover {
  width: unset;
}
.spin-icon {
  -webkit-animation: spin-animation 30s linear infinite 0s;
          animation: spin-animation 30s linear infinite 0s;
}

@-webkit-keyframes spin-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-second-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 40px 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 600px) {
  .about-second-wrapper {
    flex-direction: column;
    padding: 80px 40px 0 40px;
  }
}
.about-second-wrapper .about-left-wrapper {
  width: 50%;
  height: calc(100vh - 80px);
  background-image: url(https://images.unsplash.com/photo-1530868156061-e5e8a5450c51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNhZmUlMjBicmVha2Zhc3R8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  .about-second-wrapper .about-left-wrapper {
    width: 100%;
  }
}
.about-second-wrapper .about-right-wrapper {
  width: 50%;
  height: 100%;
  padding: 3rem;
  justify-content: flex-end;
  align-items: baseline;
}
@media (max-width: 1366px) {
  .about-second-wrapper .about-right-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 600px) {
  .about-second-wrapper .about-right-wrapper {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .about-second-wrapper .about-right-wrapper h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 800px) {
  .about-second-wrapper .about-right-wrapper h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .about-second-wrapper .about-right-wrapper h1 {
    width: 100%;
  }
}
.about-second-wrapper .about-right-wrapper h1 span {
  font-family: "Corinthia", sans-serif;
  color: rgb(50, 149, 229);
  font-size: 3.3rem;
}
@media (max-width: 1366px) {
  .about-second-wrapper .about-right-wrapper h1 span {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .about-second-wrapper .about-right-wrapper h1 span {
    font-size: 2.2rem;
  }
}
@media (max-width: 1366px) {
  .about-second-wrapper .about-right-wrapper p {
    font-size: 0.9rem;
  }
}
.about-second-wrapper a:hover {
  width: unset;
}
.abmiddle-wrapper_1 {
  width: calc(100% - 80px);
  height: 370px;
  background-color: white;
  text-align: left;
  z-index: 2;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
  flex-direction: row;
  transition: all 5s ease-out;
}
.abmiddle-wrapper_1 div:first-child {
  width: 66.6666666667%;
  padding: 3rem;
}
@media (max-width: 800px) {
  .abmiddle-wrapper_1 div:first-child {
    width: 100%;
    padding: 2rem;
  }
}
.abmiddle-wrapper_1 div:nth-child(2) {
  width: 33.3333333333%;
  height: 100%;
  border-left: 1px solid rgb(216, 216, 216);
}
@media (max-width: 800px) {
  .abmiddle-wrapper_1 div:nth-child(2) {
    display: none;
  }
}
.abmiddle-wrapper_1 h3 span {
  color: rgb(50, 149, 229);
}
.abmiddle-wrapper_1 a:hover {
  color: rgb(50, 149, 229);
  border-bottom: 1px solid rgb(50, 149, 229);
}
@media (max-width: 1366px) {
  .abmiddle-wrapper_1 h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 800px) {
  .abmiddle-wrapper_1 h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1366px) {
  .abmiddle-wrapper_1 p {
    font-size: 0.9rem;
  }
}
.abmiddle-wrapper_2 {
  width: calc(100% - 80px);
  height: 370px;
  background-color: white;
  text-align: left;
  z-index: 2;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
  flex-direction: row;
  transition: all 5s ease-out;
}
@media (max-width: 800px) {
  .abmiddle-wrapper_2 {
    flex-direction: column;
    height: 600px;
    width: 100%;
    padding: 0 40px;
  }
}
.abmiddle-wrapper_2 div:first-child {
  width: 33.3333333333%;
  height: 100%;
  border-right: 1px solid rgb(216, 216, 216);
  background: url(https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-position: center;
  background-size: cover;
}
@media (max-width: 800px) {
  .abmiddle-wrapper_2 div:first-child {
    height: 100%;
    width: 100%;
  }
}
.abmiddle-wrapper_2 div:nth-child(2) {
  width: 66.6666666667%;
  padding: 3rem;
}
@media (max-width: 800px) {
  .abmiddle-wrapper_2 div:nth-child(2) {
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-left: 1px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
  }
}
.abmiddle-wrapper_2 p span {
  color: rgb(50, 149, 229);
}
.abmiddle-wrapper_2 a:hover {
  color: rgb(50, 149, 229);
  border-bottom: 1px solid rgb(50, 149, 229);
}
@media (max-width: 1366px) {
  .abmiddle-wrapper_2 h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 800px) {
  .abmiddle-wrapper_2 h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1366px) {
  .abmiddle-wrapper_2 p {
    font-size: 0.9rem;
  }
}
.mini-tweak-head-wrapeer {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 80px;
  width: 100%;
  height: 75vh;
  text-align: center;
}
.mini-tweak-head-wrapeer h3 {
  font-size: 2.2rem;
  width: 75%;
  height: unset;
  margin: 80px 0 0;
}
@media (max-width: 1366px) {
  .mini-tweak-head-wrapeer h3 {
    font-size: 1.9rem;
  }
}
@media (max-width: 800px) {
  .mini-tweak-head-wrapeer h3 {
    margin: 40px 0 0;
  }
}
@media (max-width: 600px) {
  .mini-tweak-head-wrapeer h3 {
    margin: 20px 0 0;
  }
}
.mini-tweak-head-wrapeer p {
  margin-bottom: 80px;
  width: 75%;
}
@media (max-width: 1366px) {
  .mini-tweak-head-wrapeer p {
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  .mini-tweak-head-wrapeer p {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .mini-tweak-head-wrapeer p {
    margin-bottom: 20px;
  }
}
.mini-tweak-head-wrapeer .prb-hook-img-wrapper {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background: url(https://images.unsplash.com/photo-1486322147346-2b4d93ea6e6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
}

.products-first-look-wrapper {
  width: calc(100% - 80px);
  height: 260px;
  text-align: left;
  z-index: 2;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(216, 216, 216);
  flex-direction: row;
  position: absolute;
  top: 120px;
  left: 40px;
  right: 40px;
  transition: all 5s ease-out;
}
.products-first-look-wrapper div:first-child {
  width: 33.3333333333%;
  height: 100%;
  border-right: 1px solid rgb(216, 216, 216);
  background: url(https://images.unsplash.com/photo-1562051036-e0eea191d42f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-size: cover;
}
.products-first-look-wrapper div:nth-child(2) {
  width: 66.6666666667%;
  height: 100%;
  padding: 3rem;
  background-color: rgb(50, 149, 229);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1366px) {
  .products-first-look-wrapper div:nth-child(2) {
    padding: 2rem;
  }
}
.products-first-look-wrapper h3, .products-first-look-wrapper p {
  color: white;
}
.products-first-look-wrapper h3::-moz-selection, .products-first-look-wrapper p::-moz-selection {
  color: rgb(50, 149, 229);
  background-color: white;
}
.products-first-look-wrapper h3::selection, .products-first-look-wrapper p::selection {
  color: rgb(50, 149, 229);
  background-color: white;
}
@media (max-width: 1366px) {
  .products-first-look-wrapper h3, .products-first-look-wrapper p {
    font-size: 0.9rem;
  }
}
.products-first-look-wrapper a:hover {
  color: rgb(50, 149, 229);
  border-bottom: 1px solid rgb(50, 149, 229);
}

.products_shop-wrapper {
  width: calc(100% - 80px);
  height: 100%;
  background-color: white;
  text-align: left;
  z-index: 2;
  border-top: 1px solid rgb(216, 216, 216);
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  transition: all 2s ease-out;
}
@media (max-width: 800px) {
  .products_shop-wrapper {
    flex-direction: column;
  }
}
.products_shop-wrapper .shop-introduction-wrapper {
  width: 33.3333333333%;
  height: 100%;
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.products_shop-wrapper .shop-introduction-wrapper h4, .products_shop-wrapper .shop-introduction-wrapper p {
  color: rgb(51, 51, 51);
}
@media (max-width: 1366px) {
  .products_shop-wrapper .shop-introduction-wrapper {
    width: 25%;
    padding: 2rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 800px) {
  .products_shop-wrapper .shop-introduction-wrapper {
    width: 100%;
  }
}
.products_shop-wrapper .prb-item-wrapper {
  width: 66.6666666667%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-left: 1px solid rgb(216, 216, 216);
  padding-bottom: 2rem;
  padding-right: 2rem;
}
@media (max-width: 1366px) {
  .products_shop-wrapper .prb-item-wrapper {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .products_shop-wrapper .prb-item-wrapper {
    width: 100%;
    border-left: none;
  }
}
.products_shop-wrapper .prb-item-wrapper .card {
  height: unset;
  width: 50%;
  margin: 0;
  flex-basis: auto;
  padding: 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: none;
  border-radius: unset;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 0 2rem;
}
@media (max-width: 600px) {
  .products_shop-wrapper .prb-item-wrapper .card {
    width: 100%;
  }
}
.products_shop-wrapper .prb-item-wrapper .card a {
  width: auto;
  height: auto;
}
.products_shop-wrapper .prb-item-wrapper .card h3 {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
}
.products_shop-wrapper .prb-item-wrapper .card p {
  font-size: 1.2rem;
  margin: 2rem 0;
  line-height: 0;
}
.products_shop-wrapper .prb-item-wrapper .card button {
  color: rgb(50, 149, 229);
  width: 100%;
  font-size: 1.1rem;
  font-weight: normal;
  background-color: white;
  border: 1px rgb(50, 149, 229) solid;
  padding: 0.8em 0;
  border-radius: unset;
  cursor: pointer;
  margin-top: 0;
  transition: all 0.2s ease-out;
}
.products_shop-wrapper .prb-item-wrapper .card button:hover {
  color: white;
  background-color: rgb(50, 149, 229);
}
.products_shop-wrapper .prb-item-wrapper a {
  height: 100%;
  font-size: 1.2rem;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  max-width: 100%;
  padding-top: 80px;
  margin: auto;
}

.product .card {
  height: unset;
  width: 50%;
  margin: 0;
  flex-basis: auto;
  padding: 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: none;
  border-radius: unset;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0 0 2rem;
}

.product .card a {
  width: auto;
  height: auto;
}

.product .card h3 {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
}

.product .card p {
  font-size: 1.2rem;
  margin: 2rem 0;
  line-height: 0;
}

.prb-btn {
  color: rgb(50, 149, 229);
  width: 100%;
  font-size: 1.1rem;
  font-weight: normal;
  background-color: white;
  border: 1px rgb(50, 149, 229) solid;
  padding: 0.8em 0;
  border-radius: unset;
  cursor: pointer;
  margin-top: 0;
  transition: all 0.2s ease-out;
}
.prb-btn:hover {
  color: white;
  background-color: rgb(50, 149, 229);
}

.product a {
  height: 100%;
  font-size: 1.2rem;
}

.product-item-wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1366px) {
  .product-item-wrapper {
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
}
@media (max-width: 1366px) {
  .product-item-wrapper img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .product-item-wrapper img {
    width: 250px;
    height: 250px;
  }
}
.product-item-wrapper h1 {
  margin: 0;
}
@media (max-width: 600px) {
  .product-item-wrapper h1 {
    font-size: 1.4rem;
  }
}
.product-item-wrapper .price-tag {
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .product-item-wrapper .price-tag {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=globals.css.map */
